@{
    ViewData["Title"] = "Home Page";
}

<div class="loginbox">
    <form>
        <h1 align="center">Login In</h1>
        <p>
            User Name :
            <input type="text" name="username" placeholder="Enter Username" />
        </p>

        <p>
            Password   &nbsp;&nbsp;&nbsp;:
            <input type="Password" name="password" placeholder="Enter Password" />
        </p>

        <p><input type="submit"  value="Login" /></p>


    </form>

</div>
